@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit!</h1>
    <p>Aceasta este pagina de pornire pentru Universitatea Politehnica Timisoara.</p>
</div>
