@model Disciplina

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Creaza o Disciplina Noua</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Titlu"></label>
			<input asp-for="Titlu" class="form-control" />
			<span asp-validation-for="Titlu" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="An"></label>
			<input asp-for="An" class="form-control" />
			<span asp-validation-for="An" class="text-danger"></span>

		</div>
		<div class="mb-3">
			<label asp-for="Semestru"></label>
			<input asp-for="Semestru" class="form-control" />
			<span asp-validation-for="Semestru" class="text-danger"></span>

		</div>
		<button type="submit" class="btn btn-primary">Creaza Disciplina</button>
		<a asp-controller="Disciplina" asp-action="Index" class="btn btn-secondary">Inapoi la Lista</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}